<section id="banner"
    class="mx-4 my-10 grid max-w-[1120px] grid-rows-2 md:grid-cols-[40%,1fr] md:grid-rows-1 lg:mx-auto">
    <figure class="max-h-52 overflow-hidden border md:relative md:order-last md:max-h-none">
        <img data-testid="img-home-banner-sm" loading="lazy" alt="A box containing prepared and ready meals"
            class="align-middle md:hidden"
            src="https://media.blueapron.com/assets/registration/homepage/CMO_Website_Banner_GIF.gif?width=800&quality=90" />
        <img data-testid="img-home-banner" loading="lazy" alt="A box containing prepared and ready meals"
            class="hidden h-full w-full md:block"
            src="https://media.blueapron.com/assets/registration/homepage/CMO_Website_Banner_GIF.gif?width=800&quality=90" />
    </figure>

    <article class="flex flex-col justify-center space-y-3 bg-primary p-4 text-white">
        <h2 data-testid="text-home-banner-savings-info" class="!text-lg !font-bold">
            Save up to $4 per serving
        </h2>
        <p class="!text-base !text-blue40">
            Enjoy
            <span class="!font-bold text-white">unlimited menu access </span>
            to 100+ weekly options. The more you order, the more you save!
        </p>
        <a class="inline-block rounded-3xl bg-white text-primary uppercase hover:bg-gray30 hover:border-transparent transition-colors duration-200 p-3 w-fit ease-in text-sm font-semibold tracking-widest"
            data-testid="btn-home-banner-see-plans">
            See Plans
        </a>
    </article>
</section>