<header id="search-filters" class="sticky top-12 z-10 bg-slate-50 lg:top-[4.5rem]">
    <section class="relative flex h-10 justify-center py-2">
        <p rel="search-filters" class="flex items-center">
            <span data-testid="text-filter-header-text"
                class="text-[10px] uppercase tracking-wider text-black20 lg:text-xs">
                Refine search
            </span>

            <button #buttonRef data-testid="btn-toggle-filter-modal"
                class="h-fit flex w-fit transform p-0 text-primary transition-transform duration-200 hover:bg-transparent focus:outline-none"
                [class.rotate-0]="!isModalOpen" [class.-rotate-180]="isModalOpen" (click)="toggleModal($event)">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </p>

        @if (isModalOpen) {
        <app-on-the-menu-header-filter #modalRef (closeModal)="toggleModal()"></app-on-the-menu-header-filter>
        }
    </section>
    </header>

<article class="flex flex-col items-center gap-2 pt-10">
    <h2 class="font-chronicle text-2xl font-bold tracking-[0.32px] text-primary md:text-3xl">
        Explore our meal delivery menu
    </h2>
    <p class="text-center tracking-[0.18px] text-black10 lg:text-lg">
        <span class="font-bold text-blue-info">
            Select any meal or number of servings
        </span>
        —the more you order, the more you save.
    </p>
</article>