<section id="ratings"
    class="flex items-center justify-center gap-6 bg-gray30 px-2 py-4 text-center font-bold lg:space-x-16">
    <header class="max-w-48 leading-snug md:max-w-96 md:text-2xl lg:max-w-fit">
        <p>
            Our customers think we're&nbsp;
            <strong data-testid="text-home-ratings-customer-thought"
                class="text-lg uppercase text-blue-info md:text-2xl">
                Excellent
            </strong>
        </p>
    </header>

    <figure class="space-y-1 md:space-y-2">
        <div class="flex items-center justify-center gap-2">
            <img data-testid="img-home-ratings" height="24"
                src="https://media.blueapron.com/assets/registration/homepage/appstore_ratings_icon.svg"
                alt="App Store rating icon" loading="lazy" class="h-6" />
            <figcaption data-testid="text-home-ratings-app-rating" class="text-2xl">
                4.7
            </figcaption>
        </div>
        <p class="text-sm font-normal">
            <span data-testid="text-home-ratings-based-on" class="hidden md:inline-block">
                Based on&nbsp;
            </span>
            <strong data-testid="text-home-ratings-total-ratings">40k</strong>
            &nbsp;App Store Ratings
        </p>
    </figure>
</section>