<section id="getting-started" class="relative overflow-hidden pt-4">
    <figure>
        <img data-testid="img-home-getting-started"
            src="https://media.blueapron.com/assets/registration/homepage/gnocchi-ingredients.webp?height=400&quality=90"
            alt="A Blue Apron chef preparing ingredients" loading="lazy" width="1208" height="343"
            class="relative left-1/2 h-full min-w-[900px] -translate-x-1/2" />
        <figcaption class="sr-only">
            A Blue Apron chef preparing fresh ingredients for a meal.
        </figcaption>
    </figure>

    <div
        class="absolute left-1/2 top-1/2 flex h-44 w-80 -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center space-y-4 rounded-md bg-white py-6 md:h-48 md:w-[400px] lg:h-56 lg:w-[550px] lg:py-10">
        <header class="text-center">
            <h2 class="font-chronicle text-2xl font-bold text-blue70 md:text-3xl">
                Get started now
            </h2>
            <p class="text-primary-info md:text-lg">
                for as little as
                <span data-testid="text-home-getting-started-price-per-serving" class="font-bold text-blue-info">
                    $7.99 per serving
                </span>
            </p>
        </header>

        <a data-testid="btn-home-getting-started-see-plans"
            class="py-3 h-12 w-60 text-base tracking-[2.5px] rounded-3xl uppercase bg-primary hover:bg-primary-hover text-white hover:border-blue20 transition-colors duration-200 ease-in font-semibold text-center">
            See Plans
        </a>
    </div>
</section>