.custom-checkbox {
    @apply appearance-none w-4 h-4 border-2 border-gray-400 rounded-sm relative transition duration-300 focus:ring-blue-300;
}

.custom-checkbox:checked {
    @apply border-primary bg-blue-100;
}

/* Tick mark */
/* Tick mark */
.custom-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.3rem;
    height: 0.55rem;
    border-right: 2px solid var(--checkbox-tick-blue);
    /* Tick mark color */
    border-bottom: 2px solid var(--checkbox-tick-blue);
    transform: translate(-50%, -50%) rotate(-90deg);
    /* Start hidden */
    opacity: 0;
    /* Hide initially */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animate tick mark on check */
.custom-checkbox:checked::after {
    transform: translate(-50%, -50%) rotate(-315deg);
    /* Rotate into view */
    opacity: 1;
    /* Show the tick mark */
}